html {
	font-size: 62.5%;

	@include maxW(1280px) {
		font-size: 56.25%;
	}

	@include maxW(1023px) {
		font-size: 50%;
	}

	@include maxW(767px) {
		font-size: 43.75%;
	}
}

body {
	font-family: "Poppins", sans-serif;
	color: #333;
	line-height: 1.5;
}

.container {
	max-width: 133.5rem;
	padding: 0 2rem;
	margin: 0 auto;
}

.section {
	padding: 9.6rem 0;
}

.text-center {
	text-align: center;
}

.mb-lg {
	margin-bottom: 10rem !important;
}

.mb-md {
	margin-bottom: 5rem !important;
}
