.hero {
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	&__text-box {
		display: inline-flex;
		flex-direction: column;
		gap: 4rem;
	}

	&__flake {
		&--1 {
			position: absolute;
			top: 0;
			left: 0;
		}

		&--2 {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
