.started {
	margin-top: -10rem;

	&__img {
		max-height: 70rem;
	}

	&__container {
		display: grid;
		grid-template-columns: 3fr 2fr;
	}

	&__text-box {
		display: flex;
		flex-direction: column;
		gap: 8rem;
		position: relative;
	}

	&__flake {
		position: absolute;

		img {
			max-width: 20rem;
		}
		&--1 {
			left: 0;
			top: 0;
		}
		&--2 {
		}
	}
}
