.spacer {
	aspect-ratio: 1500/300;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.layer1 {
	background-image: url(../img/svg-1.svg);
	mix-blend-mode: screen;
	margin-top: -10rem;
}

.layer2 {
	background-image: url(../img/svg2.svg);
}
