$color-red: #f6a9a9;

$color-orange: #ffbf86;
$color-orange-dark: #da8e4c;

$color-yellow: #fff47d;
$color-yellow-dark: #beb444;

$color-green: #c2f784;
$color-green-dark: #8cbb56;

$color-lime: #64fcd9;
$color-lime-dark: #3be6be;

$color-black: #00160a;

$border: 3px solid black;
$box-shadow: 1rem 1rem 0.5rem rgba(black, 0.2);
